:root {
  --dark_color: #0a344d;
  --medium_dark_color: #136999;
  --medium_color: #1c99e0;
  --medium_light_color: #5aafe0;
  --light_color: #bed4e0;
   
  --background_color: var(--dark_color);
  --normal_text_color: white;
  --table_border_color: var(--light_color);
  
  --log_time_color: var(--table_border_color);
  --log_green_color: #00ff00;
  --log_black_color: var(--normal_text_color);
  --log_red_color: #ff4040;
  --log_blue_color: var(--medium_light_color)
}

body {
	background-color: var(--background_color);
    font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: var(--normal_text_color);
}

.centered {
	text-align: center;
}

a {
	color: var(--normal_text_color);
	text-decoration: none;
}

.topbox {
    display: flex;
}

.main_container {
    width: 100%;
}

.page_header {
    width: 100%;
}

#items_table_div {
    margin-bottom: 10px;
}

#items_table_div a {
    margin: 10px;
}

h1 {
	color: var(--normal_text_color);
}

table {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

th {
    border:1px dotted;
    border-bottom:1px solid;
    border-color: var(--table_border_color);
 	padding: 5px 10px 5px 10px;
}

td {
    border:1px dotted;
    border-color: var(--table_border_color);
 	padding: 0px 10px 0px 10px;
}

textarea {
    width: 500px;
    height: 100px;
}

.notification {
	border-style: solid;
	border-width: 1px;
	border-color: var(--medium_color);
	visibility: hidden;
}

.footer {
	text-align: center;
}

.ClientList {
	padding: 10px;
}

.ClientList a {
	padding-left: 15px;
	color: #333333;
	font-size: 12px;
}

.logo {
    display: block;
    float: left;   
    margin-right: 10px; 
}

.logo img {
    height: 100px;
    width: 100px;
}

/*
Log
*/

.log_time {
    color: var(--log_time_color);
}

.log_black {
    color: var(--log_black_color);
}

.log_green {
    color: var(--log_green_color);
}

.log_red {
    color: var(--log_red_color);
}

.log_blue {
    color: var(--log_blue_color);
}


